.cardlist{
    margin-top: 70px;
    width: 100%;
    padding: 4rem 2rem;
}

.cardStorage{
    border: 1.5px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.cardStorage:nth-child(10){
    margin-bottom: 0px;
}